//main head text

.mainText {
  width: 1088px;
  h1 {
    font-weight: 300;
    font-size: 50px;
    color: $light-grey;
  }
  .h1-2 {
    font-weight: 500;
    font-size: 50px;
    color: $white;
  }
  padding-bottom: 210px;
}

.home {
  margin-top: 270px;
}

//profile
.profile {
  width: 100%;
  display: flex;

  .profile-img {
    flex-basis: 1200px;
    width: 1080px;
    height: 728px;
    background-color: $dark-grey;
  }
}

.profile-text {
  margin-left: 25px;
  .col-1 {
    width: 100%;
    margin-bottom: 50px;
  }
}

.profile-year {
  font-weight: $font-light;
  font-size: 20px;
  color: $light-grey;
}

.profile-degree {
  font-weight: 600;
  font-size: 26px;
  color: $white;
}

.profile-program {
  font-weight: $font-light;
  font-size: 22px;
  color: $white;
  line-height: 1.2 !important;
  margin-top: 12px !important;
}
