//portfolio templet
.portfolio {
  margin-top: 270px;
}

.pf-title {
  h1 {
    font-size: 6.5rem;
    color: $white;
    font-weight: $font-bold;
    padding-bottom: 14px;
  }
}

@media (max-width: 1204px) {
  .portfolio {
    margin-top: 150px;
  }
  .pf-title {
    h1 {
      font-size: 12vw;
    }
  }
}

.pf-image-banner {
  img {
    width: 100%;
    object-fit: fill;
  }

  width: 100%;
}
.pf-image-banner-beer-banner {
  img {
    width: 43%;
    object-fit: fill;
  }

  overflow: hidden;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pf-info {
  display: flex;
  flex-wrap: wrap;
  gap: 7vw;
  padding-top: 127px;
  padding-bottom: 48px;
  border-bottom: 0.5px solid #999999;
}

.pf-col {
  flex-shrink: 1;
  h5 {
    font-weight: $font-regular;
    font-size: 1.5rem;
    color: $white;
    margin-bottom: 1.3vw;
  }
  p {
    font-weight: $font-light;
    font-size: 1.5em;
    color: $light-grey;
  }
}

@media (max-width: 1204px) {
  h5 {
    font-size: 6.5vw;
  }
  p {
    font-size: 6.5vw;
  }
}

.pf-info-2 {
  padding-top: 10vw;
}

.info-text {
  h1 {
    color: $white !important;
    line-height: 1.4;
    font-size: 1.5rem;

    font-weight: $font-light;
    margin-bottom: 60px;
  }
  padding-top: 60px;
  padding-bottom: 60px;
  width: 70%;
}
.info-text-3 {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $white !important;
    line-height: 1.4;
    font-size: 2rem;

    font-weight: $font-light;
    margin-bottom: 60px;
  }
  width: 50%;
}
@media (max-width: 850px) {
  .info-text {
    padding-top: 10px;
    padding-bottom: 10px;

    h1 {
      font-size: 1rem;
      width: 100%;
    }
    width: 100%;
  }
  .pf-info-2 {
    width: 100%;
  }
  .info-text-3 {
    h1 {
      font-size: 1rem;
      width: 100%;
    }
    padding: 0;
    padding-top: 0;
    width: 90%;
  }
  .pf-col {
    h5 {
      font-size: 1rem;
    }
    p {
      font-weight: $font-light;
      font-size: 1rem;
      color: $light-grey;
    }
  }
}

.two-images {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex: 1 1 40%;
  flex-basis: 500px;
}

.col1-image {
  padding: 80px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // background-color: #f9f1e4;
  overflow: hidden;
  display: flex;
  flex: 1 1 40%;
  flex-basis: 400px;
}

.col1-image-2,
.col1-image-2-1 {
  padding: 180px 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // background-color: #f9f1e4;
  overflow: hidden;
  display: flex;
  flex: 1 1 40%;
  flex-basis: 400px;
}
.col1-image-3 {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // background-color: #f9f1e4;
  overflow: hidden;
  display: flex;
  flex: 1 1 40%;
  flex-basis: 400px;
}

.banner-image {
  margin-top: 40px;
  width: 100%;
  height: 780px;
  background-color: $dark-grey;
}

.banner-image-2 {
  img {
    width: 100%;
    object-fit: cover;
  }
  overflow: hidden;
  margin-top: 40px;
  width: 100%;

  background-color: $dark-grey;
}

@media (max-width: 1204px) {
  .col1-image {
    padding: 0;
    margin-top: 40px;
  }

  .banner-image {
    height: 650px;
  }

  .col1-image-2 {
    padding-top: 80px;
    padding-bottom: 0;
  }
  .col1-image-2-1 {
    padding: 80px 0;
  }
}

//apopo
.pf-image-banner-apopo {
  img {
    width: 100%;
    object-fit: fill;
  }

  width: 100%;
  background-color: $black;
}

.image-apopo {
  width: 100%;
  img {
    width: 100%;
    object-fit: fill;
  }
}

.guide-image {
  margin-top: 5%;
  width: 100%;
  background-color: #f8f9f0;
  border-radius: 30px;
}
.link-btn {
  text-align: center;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  font-weight: lighter !important;
}
.col1-image-apopo {
  img {
    padding-top: 10%;
    width: 35.5vw;
    object-fit: cover;
  }

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image-2-apopo {
  img {
    width: 100%;
    object-fit: cover;
  }

  overflow: hidden;
  margin-top: 80px;
  width: 100%;

  background-color: $black;
}

.banner-image-apopo {
  img {
    width: 100%;
    object-fit: cover;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-top: 30px;
  width: 100%;
  height: auto;
  background-color: $black;
}

// .banner-image-apopo::-webkit-scrollbar {
//   width: 10px;
// }
// .banner-image-apopo::-webkit-scrollbar-thumb {
//   background-color: $point-color;
//   border-radius: 10px;
//   border: 2px solid transparent;
// }

//beer
.two-images-beer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.info-text-beer {
  width: 100%;
  h1 {
    color: $black !important;
    line-height: 1.4;
    font-size: 1.5rem;
    color: $light-grey;
    font-weight: $font-light;
    margin-bottom: 60px;
  }
}

.banner-image-3-beer {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
  margin-top: 80px;
}

.col1-image-beer {
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    object-fit: cover;
  }
  background-color: white;
  overflow: hidden;
  flex: 1 1 40%;
  flex-basis: 400px;
  height: 650px;
}

.pf-image-banner-beer {
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 900px;
  background-color: $dark-grey;
}

.banner-image-beer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  height: 640px;
  img {
    width: 40vw;
    object-fit: cover;
  }
}

.banner-image-beer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.banner-image-beer-3 {
  background-color: #f8f9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 80%;
    object-fit: cover;
  }
}
.banner-image-2-beer {
  h1 {
    padding-left: 50px;
    font-size: 60px; //!
    color: $light-grey;
    font-weight: $font-light;
    font-style: italic;
  }
  img {
    overflow: hidden;
  }
  width: 100%;
  align-items: center;
  display: flex;
  margin-top: 100px;
}

.banner-image-beer-col3 {
  margin-top: 150px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  img {
    width: 30%;
  }
}

//hud
.banner-image-2-hud {
  padding-top: 60px;

  width: 100%;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.alert {
  margin-top: 180px;
  h1 {
    color: $dark-grey !important;
    font-size: 30px; //!
  }
}

//balm
.banner-image-balm {
  margin-top: 150px;
  overflow-x: scroll;
  img {
    object-fit: cover;
  }
}

@media (max-width: 1204px) {
  .banner-image-beer-col3 {
    img {
      width: 100%;
      padding-bottom: 20px;
    }
    margin: 0;
    padding-top: 30px;
  }

  .banner-image-balm {
    img {
      height: 250px;
    }
    margin-top: 0;
  }

  .banner-image-2-apopo {
    img {
      width: 100%;
      object-fit: cover;
    }

    overflow: hidden;
    margin-top: 30px;
    width: 100%;

    background-color: $black;
  }
}

.banner-image-balm::-webkit-scrollbar {
  width: 5px;
}
.banner-image-balm::-webkit-scrollbar-thumb {
  background-color: $point-color;
  border-radius: 10px;
  border: 2px solid transparent;
}

.banner-image-2-balm {
  img {
    width: 100%;
    object-fit: cover;
  }
  overflow: hidden;
  margin-top: 30px;
  width: 100%;
  height: auto;
  background-color: $black;
}

.banner-image-2-balm {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-top: 50px;
}

//chatapp
.pf-image-banner-chat {
  img {
    width: 100%;

    object-fit: cover;
  }

  overflow: hidden;
  margin-top: 20px;
  width: 100%;
  height: 800px;
  background-color: $dark-grey;
}

//music
.banner-image-music {
  margin-top: 120px;
}
